<section>

    <h2 class="text-center text-md-left">PROFISSIONAIS</h2>

    <div class="bg-white p-3" id="contentBox">

        <div class="d-flex flex-column flex-md-row justify-content-between mb-3">

            <div class="d-flex align-items-center">
                <h3 class="mb-2 mb-md-0">Profissionais cadastrados</h3>
            </div>

            <input type="search" class="pl-4" (keyup)="findProfessionals($event.target.value)" placeholder="Buscar por nome, e-mail ou CPF"/>

        </div>

        <table class="table table-responsive text-center text-nowrap">
            <tr>
                <th>NOME</th>
                <th>CPF</th>
                <th>EMAIL</th>
                <th>SERVIÇOS REALIZADOS</th>
                <th class="w-100"></th>
            </tr>
            <tr *ngFor="let professional of professionals.data | paginate:
                { itemsPerPage: 8, currentPage: p, totalItems: professionals.total }"
                [routerLink]="professional.id">
                <td>{{ professional.user?.name || "Nome nulo" }}</td>
                <td>{{ professional.user?.cpf | mask: "000.000.000-00" }}</td>
                <td>{{ professional.user?.email }}</td>
                <td>{{ professional.scheduledServices?.length || 0}}</td>
                <td class="position-relative w-100">
                    <img src="../../../../assets/images/admin/arrow.png" class="ml-5 mb-1 position-absolute"/>
                </td>
            </tr>
            <tr *ngIf="professionals.data.length == 0">
                <td colspan="5" class="text-left">Nenhum profissional encontrado</td>
            </tr>
        </table>

        <div class="d-flex justify-content-end">
            <pagination-controls 
                class="my-pagination"
                (pageChange)="pageChanged($event)"
                previousLabel="Anterior"
                nextLabel="Próxima">
            </pagination-controls>
        </div>
    </div>
</section>

<ngx-spinner bdColor="#333333" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>