section {
  max-width: 1440px;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  color: #37153d;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  color: #37153d;
}

#contentBox {
  border: 1px solid #ddd;
  border-radius: 7px;
}

tr:nth-child(1) {
  background: #ff993e 0% 0% no-repeat padding-box;
  border-radius: 3px 3px 0px 0px;
  font-size: 13px;
  font-weight: bold;
  color: #37153d;
}

table tr:nth-child(1n + 2) {
  font-size: 14px;
  color: #2e2e2e;
  border-bottom: 1px solid #dcdcdc;
  outline: none;
}

table tr:nth-child(1n + 2):hover {
  background: #f8f8f8 0% 0% no-repeat padding-box;
  cursor: pointer;
}

input {
  border: 1px solid #707070;
  border-radius: 4px;
  width: 245px;
  height: 27px;
  font-size: 11px;
  color: #707070;
  outline: none;
  background-image: url("../../../../assets/images/admin/search.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 3% 45%;
}

td {
  min-width: 150px;
}

td:last-child img {
  width: 10px;
  transform: rotate(-90deg);
  right: 15px;
  top: 15px;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: #37153d;
}

/* @media (min-width: 768px) {
  section {
    width: 100%;
  }
}

@media (min-width: 1220px) {
  .table-responsive {
    display: table;
  }
} */
