<section>

    <div class="py-3 px-4 px-md-0">
        <img src="{{professionals.user.img_profile}}">
    </div>

    <form ngForm (ngSubmit)="onSubmit()" class="px-4 px-md-0">
        <h4 class="mb-4">Dados pessoais:</h4>

        <div class="d-md-flex mb-3">
            <div class="form-group">
                <label for="cref_confef" class="d-block">CREF/CONFEF:</label>
                <input type="text" class="form-control" name="doc_professional" [(ngModel)]="professionals.doc_professional">
            </div>
            <div class="form-group mx-md-4">
                <label for="nome" class="d-block">Nome:</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="professionals.user.name">
            </div>
            <div class="form-group">
                <label for="data_de_nascimento" class="d-block">Data de nascimento:</label>
                <input type="date" class="form-control" name="birthday" [(ngModel)]="professionals.user.birthday">
            </div>
        </div>

        <div class="d-md-flex mb-3">
            <div class="form-group">
                <label for="cpf" class="d-block">CPF:</label>
                <input type="text" class="form-control" name="cpf" mask="000.000.000-00" [(ngModel)]="professionals.user.cpf">
            </div>
            <div class="form-group mx-md-4">
                <label for="email" class="d-block">E-mail:</label>
                <input type="text" class="form-control" name="email" [(ngModel)]="professionals.user.email">
            </div>
            <div class="form-group">
                <label for="telefone" class="d-block">Telefone:</label>
                <input type="text" class="form-control" name="contact" ngxPhoneMaskBr [(ngModel)]="professionals.user.contact">
            </div>
        </div>

        <div class="d-md-flex mb-3">
            <div class="form-group">
                <label for="telefone_de_emergencia" class="d-block">Telefone de emergência:</label>
                <input type="text" class="form-control" name="emergency_phone" ngxPhoneMaskBr [(ngModel)]="professionals.user.emergency_phone">
            </div>
            <div class="form-group mx-md-4">
                <label for="banco" class="d-block">Banco:</label>
                <input type="text" class="form-control" name="bank" [(ngModel)]="professionals.bank_name">
            </div>
            <div class="form-group">
                <label for="data_de_nascimento" class="d-block">Tipo de conta:</label>
                <input type="text" class="form-control" name="bank_account" [(ngModel)]="professionals.bank_type">
            </div>
        </div>

        <div class="d-md-flex mb-3">
            <div class="form-group mr-md-4">
                <label for="agencia" class="d-block">Agência:</label>
                <input type="text" class="form-control" name="bank_agency" [(ngModel)]="professionals.bank_agency">
            </div>
            <div class="form-group">
                <label for="conta" class="d-block">Conta:</label>
                <input type="text" class="form-control" name="bank_number" [(ngModel)]="professionals.bank_number">
            </div>
        </div>

        <div class="d-md-flex mb-3">
            <div class="form-group w-100">
                <label for="biografia" class="d-block">Biografia:</label>
                <textarea name="biografia" id="biografia" name="bibliography" autosize [(ngModel)]="professionals.bibliography"></textarea>
            </div>
        </div>

        <div *ngIf="readOnly === true" class="d-flex justify-content-between justify-content-md-start">
            <button type="button" id="editar" class="mr-md-4" (click)="editMode()">Editar</button>
            <button type="button" id="banir" (click)="deleteProfessional()">Banir</button>
        </div>

        <div *ngIf="readOnly === false" class="d-flex justify-content-between justify-content-md-start">
            <button type="submit" id="submit" class="mr-md-4">Salvar</button>
            <button type="button" id="cancelar"(click)="readMode()">Cancelar</button>
        </div>
    </form>

</section>

<ngx-spinner bdColor="#333333" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>