section {
  width: 100%;
  max-width: 1530px;
}

.equal-size {
  width: 220px;
}

hr{
  background: #37153D;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  color: #37153d;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  color: #37153d;
  background: #ff993e 0% 0% no-repeat padding-box;
  border-radius: 7px 7px 0px 0px;
}

h4 {
  font-size: 14px;
  font-weight: 600;
  color: #2e2e2e;
}

p{
  margin-bottom: -10px;
  color: #707070;
}

.box-01 {
  width: 100%;
}

.box-02 {
  width: 100%;
} 

#status a {
  font-size: 14px;
  color: #37153d;
  text-decoration: underline;
}

select {
  width: 293px;
  height: 46px;
  background: #ececec 0% 0% no-repeat padding-box;
  border-radius: 3px;
  outline: none;
}

option {
  background: #fff;
}

.btn-status {
  border-radius: 30px;
  font-size: 14px;
  cursor: unset;
  outline: none;
}

.btn-confirmado {
  background: #049526 0% 0% no-repeat padding-box;
}

.btn-cancelado {
  background: #d22020 0% 0% no-repeat padding-box;
}

.btn-pendente {
  background: #e4c323 0% 0% no-repeat padding-box;
}

.btn-estornado {
  background: #f76e1e 0% 0% no-repeat padding-box;
}

#modal-anchor{
    cursor: pointer;
}

.modal-footer button {
  width: 154px;
  height: 35px;
  border-radius: 30px;
  outline: none;
  box-shadow: none;
}

.modal-footer button:first-of-type {
  background: #37153d 0% 0% no-repeat padding-box;
}

.modal-footer button:last-of-type {
  background: #707070 0% 0% no-repeat padding-box;
}

@media(min-width: 768px) {
  .mx-custom-4 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media(min-width: 992px) {
  .box-01 {
    width: 75%;
  }
  
  .box-02 {
    width: 25%;
  }
}

@media(min-width: 1250px) {
  .flex-custom-row {
    flex-direction: row !important;
  }

  .mx-custom-4 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
  }
}