<!-- SECTION FULL PAGE COM AS INFORMAÇÕES DE SERVIÇOS -->
<section>

    <!-- TITULO DA SEÇÃO, FORA DO WHITE BOX -->
    <div class="d-flex justify-content-center justify-content-md-start">
        <h2>SERVIÇOS AGENDADOS</h2>
    </div>

    <!-- CONTEÚDO INTERNO DA SEÇÃO, DIVIDO EM DUAS PARTES: RESUMO DO SERVIÇO E STATUS -->
    <div class="d-flex flex-column flex-md-row">

        <!-- LADO ESQUERDO DA SEÇÃO - RESUMO DO SERVIÇO -->
        <div class="bg-white box-01 mr-5 mb-5 mb-md-0">

            <!-- TITULO DO LADO ESQUERDO DA SEÇÃO -->
            <div>
                <h3 class="p-3">Resumo de serviço</h3>
            </div>

            <div class="d-flex flex-column align-items-center align-items-md-start p-md-5 mt-4 mt-md-0">

                <!-- PRIMEIRO LINHA EM RESUMO DO SERVIÇO -->
                <div class="equal-size mb-4">
                    <h4>Serviço:</h4>
                    <p>{{ service.service || "Aula" }}</p>
                    <hr />
                </div>

                <!-- SEGUNDA LINHA EM RESUMO DE SERVIÇO -->
                <div class="equal-size mb-4">
                    <h4>Descrição do serviço</h4>
                    <P>{{ service.description || "-" }}</P>
                    <hr />
                </div>

                <!-- TERCEIRA LINHA EM RESUMO DE SERVIÇO COM 03 COLUNAS -->
                <div class="d-flex flex-column flex-custom-row justify-content-between">

                    <!-- NOME DO ALUNO -->
                    <div class="equal-size mx-4 mx-md-0 mb-4">
                        <h4>Nome do aluno:</h4>
                        <p>{{ service.students || "-" }}</p>
                        <hr />
                    </div>

                    <!-- NOME DO PROFESSOR -->
                    <div class="equal-size mx-4 mx-custom-4 mb-4">
                        <h4>Nome do professor:</h4>
                        <p>{{ service.professional?.user?.name || "-" }}</p>
                        <hr />
                    </div>

                    <!-- DATA DA SOLICITAÇÃO DO SERVIÇO -->
                    <div class="equal-size mx-4 mx-md-0 mb-4">
                        <h4>Data de solicitação:</h4>
                        <p>{{ service.created_at | date: "dd/MM/yy" }}</p>
                        <hr />
                    </div>

                </div>

                <!-- QUARTA LINHA EM RESUMO COM 03 COLUNAS -->
                <div class="d-flex flex-column flex-custom-row justify-content-between">

                    <!-- DATA DA AULA AGENDADA -->
                    <div class="equal-size mx-4 mx-md-0 mb-4">
                        <h4>Data agendada:</h4>
                        <p>{{ service.date | date: "dd/MM/yy" }}</p>
                        <hr />
                    </div>

                    <!-- HORÁRIO DA AULA AGENDADA -->
                    <div class="equal-size mx-4 mx-custom-4 mb-4">
                        <h4>Hora agendada:</h4>
                        <p>{{ service.date | date: "hh:mm" }}</p>
                        <hr />
                    </div>

                    <!-- VALOR DA AULA  -->
                    <div class="equal-size mx-4 mx-md-0 mb-4">
                        <h4>Valor:</h4>
                        <p>{{ service.total | currency: "R$" }}</p>
                        <hr />
                    </div>

                </div>

            </div>

        </div>


        <!-- LADO DIRETO DIREITO DA SEÇÃO - STATUS -->
        <div id="status" class="box-02">

            <!-- TITULO DO LADO ESQUERDO DA SEÇÃO - STATUS -->
            <div>
                <h3 class="p-3">Status:</h3>
            </div>

            <!-- DIV COM O CONTEÚDO DO LADO ESQUERDO -->
            <div class="d-flex flex-column justify-content-center align-items-center bg-white py-4">
                
                <!-- BOTÃO COM O STATUS DO SERVIÇO -->
                <button class="text-white btn-status border-0 font-weight-bold px-4 pt-2 pb-1 mb-3"
                        [class.btn-confirmado]="service.status == 'Confirmado'"
                        [class.btn-cancelado]="service.status == 'Cancelado'"
                        [class.btn-pendente]="service.status == 'Pendente'"
                        [class.btn-estornado]="service.status == 'Estornado'"
                > {{ service.status }}
                </button>

                <!-- ÂNCORA PARA ABRIR O MODAL DE EDITAR STATUS -->
                <a id="modal-anchor" data-toggle="modal" data-target="#modal-status">Editar status</a>
                
            </div>

        </div>

    </div>

</section>

<!-- MODAL PARA ALTERAR O STATUS DO SERVIÇO -->
<div class="modal fade" id="modal-status" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title">EDITAR STATUS</h5>
            </div>
            <div class="modal-body">
                <form ngForm (ngSubmit)="updateStatus()" class="d-flex flex-column align-items-center">
                    <select name="status" [(ngModel)]="service.status">
                        <option>Confirmado</option>
                        <option>Pendente</option>
                        <option>Cancelado</option>
                        <option>Estornado</option>
                    </select>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn text-white">Salvar</button>
                        <button type="button" class="btn text-white" id="cancelar" data-dismiss="modal" (click)="resetStatus()">
                            Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<ngx-spinner bdColor="#333333" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>