<section>

    <div class="bg-white p-4" id="contentBox">

        <!-- HEADER DA TABELA -->
        <div class="d-flex flex-column flex-md-row justify-content-between mb-3">

            <!-- TITULO DA TABELA E NOME DO PROFISSIONAL -->
            <div class="d-flex align-items-center">
                <h3 class="mb-3 mb-md-0">Listagem de serviços do profissional: <span>{{ professionals.user.name }}</span></h3>
            </div>

            <!-- CAMPO DE BUSCA DE SERVIÇOS -->
            <input type="search" class="pl-4" placeholder="Buscar por nome do aluno ou CPF" (keyup)="findAllScheduledServicesByAProfessional($event.target.value)">

        </div>

        <!-- TABELA DE SERVIÇOS DO PROFISSIONAL -->
        <table class="table table-responsive text-center text-nowrap">
            <tr>
                <th>ALUNO</th>
                <th>CPF/ALUNO</th>
                <th>DATA DE SOLICITAÇÃO</th>
                <th>DATA DE AGENDAMENTO</th>
                <th>VALOR</th>
                <th>STATUS</th>
                <th class="w-100"></th>
            </tr>
            <tr *ngFor="let service of professionals.scheduledServices | paginate: 
                { itemsPerPage: 8, currentPage: p, totalItems: professionals.scheduledServices.length }"
                [routerLink]="['../../../servicos/', service.id]"
            >
                <td>{{service.students?.user?.name || '-'}}</td>
                <td>{{service.students?.user?.cpf || '-'}}</td>
                <td>{{service.created_at || 0 | date: 'dd/MM/yy'}}</td>
                <td>{{service.date || 0 | date:'dd/MM/yy hh:mm'}}</td>
                <td>{{service.total || 0 | currency: 'R$'}}</td>
                <td>{{service.status}}</td>
                <td class="position-relative w-100">
                    <img src="../../../../assets/images/admin/arrow.png" class="ml-4 mb-1 position-absolute">
                </td>
            </tr>

            <tr *ngIf="professionals.scheduledServices.length == 0">
                <td colspan="7" class="text-left">Nenhum serviço encontrado</td>
            </tr>
        </table>

        <!-- PAGINAÇÃO DA TABELA -->
        <div class="d-flex justify-content-end">
            <pagination-controls 
                class="my-pagination"
                (pageChange)="p = $event"
                previousLabel="Anterior"
                nextLabel="Próxima">
            </pagination-controls>
        </div>

    </div>

</section>

<ngx-spinner bdColor="#333333" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>