<section>
    <h2 class="text-center text-md-left">ALUNOS</h2>

    <div class="bg-white">

        <h3 class="p-3 mb-3">Perfil</h3>

        <div class="px-4 pt-5">
            <div>
                <a class="p-3" routerLink="dados" routerLinkActive="active">Dados</a>
                <a class="p-3" routerLink="par-q" routerLinkActive="active">PAR-Q</a>
                <a class="p-3" routerLink="anexos" routerLinkActive="active">Anexos</a>
            </div>
        </div>

        <div class="px-4">
            <router-outlet class="pl-4" ></router-outlet>
        </div>

    </div>
</section>
