<section>
    
    <h2 class="text-center text-md-left">SERVIÇOS AGENDADOS</h2>

    <div class="bg-white p-3" id="contentBox">

        <!-- HEADER DA TABELA -->
        <div class="d-flex flex-column flex-md-row justify-content-between mb-3">

            <!-- TÍTULO DA TABELA -->
            <div class="d-flex align-items-center">
                <h3 class="mb-2 mb-md-0">Listagem de serviços solicitados</h3>
            </div>

            <!-- BUSCA DE SERVIÇOS -->
            <input type="search" class="pl-4" (keyup)="findServices($event.target.value)" placeholder="Buscar por nome do aluno ou CPF">

        </div>

        <table class="table table-responsive text-center text-nowrap">
            <tr>
                <th>ALUNO</th>
                <th>CPF/ALUNO</th>
                <th>PROFISSIONAL</th>
                <th>CPF/PROFISSIONAL</th>
                <th>DATA DE SOLICITAÇÃO</th>
                <th>DATA DE AGENDAMENTO</th>
                <th>VALOR</th>
                <th>STATUS</th>
                <th class="w-100"></th>
            </tr>
            <tr *ngFor="let service of services.data | paginate: 
                { itemsPerPage: 8, currentPage: p, totalItems: services.total }"
                [routerLink]="service.id"
            >
                <td>{{service.students?.user?.name || 'José'}}</td>
                <td>{{service.students?.user?.cpf || '128.103.412-87'}}</td>
                <td>{{service.professional?.user?.name || '-'}}</td>
                <td>{{service.professional?.user?.cpf || 0 | mask: '000.000.000-00'}}</td>
                <td>{{service.created_at || 0 | date: 'dd/MM/yy'}}</td>
                <td>{{service.date || 0 | date:'dd/MM/yy hh:mm'}}</td>
                <td>{{service.total || 0 | currency: 'R$'}}</td>
                <td>{{service.status}}</td>
                <td class="position-relative w-100">
                    <img src="../../../../assets/images/admin/arrow.png" class="ml-4 mb-1 position-absolute">
                </td>
            </tr>
            <tr *ngIf="services.data.length == 0">
                <td colspan="9" class="text-left">Nenhum serviço encontrado</td>
            </tr>
        </table>

        <div class="d-flex justify-content-end">
            <pagination-controls 
                class="my-pagination"
                (pageChange)="pageChanged($event)"
                previousLabel="Anterior"
                nextLabel="Próxima">
            </pagination-controls>
        </div>

    </div>

</section>

<ngx-spinner bdColor="#333333" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>