button{
    width: 154px;
    height: 35px;
    border-radius: 30px;
    color: #FFF;
    border: none;
    font-size: 14px;
    font-weight: bold;
    outline: none;
}

#editar{
    background: #37153D 0% 0% no-repeat padding-box;
}

#banir{
    background: #D22020 0% 0% no-repeat padding-box;
}

#submit{
    background: #37153D 0% 0% no-repeat padding-box;
}

#cancelar{
    background: #707070 0% 0% no-repeat padding-box;
}