<section>

    <!-- FORMULÁRIO DE CHECKBOX -->
    <form ngForm (ngSubmit)="onSubmit()" class="p-4">

        <!-- REPETIÇÃO DE CADA GRUPO DE FORMULÁRIO CHECKBOX -->
        <div *ngFor="let specialtie of specialties, let i = index" class="form-group d-flex align-items-center mb-3">
            <input disabled
                [(ngModel)]="specialtie.checked"
                type="checkbox"
                name="specialtie{{i}}"
                value="{{specialtie.description}}">

            <label for="specialtie[i]" class="ml-1 mb-0">{{specialtie.description}}</label>
        </div>

        <!-- BOTÃO EM MODO DE LEITURA PARA EDITAR OU BANIR O PROFISSIONAL -->
        <div *ngIf="readOnly === true" class="d-flex justify-content-between justify-content-md-start pt-3">
            <button type="button" id="editar" class="mr-md-4" (click)="editMode()">Editar</button>
            <button type="button" id="banir" class="pt-2 pb-1" (click)="deleteProfessional()">Banir</button>
        </div>

        <!-- BOTÃO PARA SALVAR OU CANCELAR O FORMULÁRIO EM MODO DE EDIÇÃO -->
        <div *ngIf="readOnly === false" class="d-flex justify-content-between justify-content-md-start pt-3">
            <button type="submit" id="submit" class="mr-md-4">Salvar</button>
            <button type="button" id="cancelar" (click)="readMode()">Cancelar</button>
        </div>

    </form>

</section>

<!-- SPINNER DE LOADING -->
<ngx-spinner bdColor="#333333" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>