h3{
    font-size: 17px;
    font-weight: bold;
    color: #37153D;
}

.anexo{
    width: 154px;
    height: 35px;
    background: #707070 0% 0% no-repeat padding-box;
    border-radius: 30px;
    color: #FFF;
    border: none;
    outline: none;
}

a {
  color: black;
}

.anexos:hover,
label:hover {
  cursor: pointer !important;
  background-color: #EEE;
}

button{
  width: 154px;
  height: 35px;
  border-radius: 30px;
  color: #FFF;
  border: none;
  font-size: 14px;
  font-weight: bold;
  outline: none;
}

#banir{
  background: #D22020 0% 0% no-repeat padding-box;
}

#submit{
  background: #37153D 0% 0% no-repeat padding-box;
}

#cancelar{
  background: #707070 0% 0% no-repeat padding-box;
}