.form-group{
    max-width: 300px;
}

label,
h4{
    font-size: 14px;
    color: #2E2E2E;
}

select,
input,
.ng-select.custom ::ng-deep .ng-select-container,
.box{
    background: #FFF;
    border: none;
    border-bottom: 1px solid #37153D;
    width: 100%;
    outline: none;
    color: #707070;
}

.outros-bairros:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #37153D;
}

button{
    width: 154px;
    height: 35px;
    border-radius: 30px;
    color: #FFF;
    border: none;
    font-size: 14px;
    font-weight: bold;
    outline: none;
}

#editar{
    background: #37153D 0% 0% no-repeat padding-box;
}

#banir{
    background: #D22020 0% 0% no-repeat padding-box;
}

#submit{
    background: #37153D 0% 0% no-repeat padding-box;
}

#cancelar{
    background: #707070 0% 0% no-repeat padding-box;
}

@media(min-width: 768px) {
    select,
    .ng-select.custom ::ng-deep .ng-select-container,
    .box{
        width: 250px;
    }
}