<section class="mt-4 px-4 px-md-0">

    <!-- FORMULÁRIO EM MODO DE LEITURA -->
    <div *ngIf="readOnly">

        <!-- ESTADOS DE ATENDIMENTO DO PROFISSIONAL -->
        <div class="box mb-4">
            <h4>Estado:</h4>
            <p class="mb-0">{{professional.professionalServiceLocations[0]?.state || '-'}}</p>
        </div>

        <!-- CIDADES DE ATENDIMENTO DO PROFISSIONAL -->
        <div class="box mb-4">
            <h4>Cidade:</h4>
            <p class="mb-0">{{professional.professionalServiceLocations[0]?.district || '-'}}</p>
        </div>

        <!-- BAIRROS DE ATENDIMENTO DO PROFISSIONAL -->
        <div class="box mb-4">
            <h4>Bairros:</h4>
            <p *ngFor="let localization of professional.professionalServiceLocations" class="mb-0">
                {{localization.neighborhood || '-'}}
            </p>
        </div>

        <!-- BOTÃO DE CONTROLE PARA EDITAR FORMULÁRIO OU BANIR PROFISSIONAL -->
        <div class="d-flex justify-content-between justify-content-md-start pt-3">
            <button type="button" id="editar" class="mr-md-4" (click)="editMode()">Editar</button>
            <button type="button" id="banir" (click)="deleteProfessional()">Banir</button>
        </div>

    </div>


    <!-- FORMULÁRIO EM MODO DE EDIÇÃO -->
    <form *ngIf="!readOnly" ngForm (ngSubmit)="onSubmit()" class="d-flex flex-column">

        <!-- LISTA DE ESTADOS -->
        <div class="form-group py-2">

            <label for="state" class="d-block">Estado:</label>

            <select name="state" id="state" (change)="getDistricts()" [(ngModel)]="localization.state">
                <option *ngIf="professional.professionalServiceLocations.length > 0">
                    {{professional.professionalServiceLocations[0].state}}
                </option>
                <option *ngFor="let state of localizations.states" [ngValue]="state">
                    {{state.nome}}
                </option>
            </select>

        </div>

        <!-- LISTA DE CIDADES DO BAIRRO ACIMA ESCOLHIDO -->
        <div class="form-group py-2">

            <label for="district" class="d-block">Cidade:</label>

            <select name="district" id="district" (change)="getNeighborhoods()" [(ngModel)]="localization.district">
                <option *ngIf="professional.professionalServiceLocations.length > 0 && !stateHasChanged">
                    {{professional.professionalServiceLocations[0].district}}
                </option>
                <option *ngFor="let district of localizations.districts" [ngValue]="district">
                    {{district.nome}}
                </option>
            </select>

        </div>

        <!-- LISTA DE BAIRROS DA CIDADE ACIMA ESCOLHIDO -->
        <div class="form-group py-2">

            <label for="neighborhood" class="d-block">Bairro:</label>

            <ng-select [items]="localizations.neighborhoods" 
                       bindLabel="nome" 
                       name="neighborhood"
                       [multiple]=true
                       class = "custom mb-5"
                       [(ngModel)]="localization.neighborhood"
            >
            </ng-select>

            <!-- FORMULÁRIO REATIVO PARA ADICIONAR MAIS INPUTS CONFORME NECESSIDADE -->
            <div [formGroup]="localizationForm">

                <div >
                    <!-- REPETIÇÃO DE INPUT PARA ADICIONAR NOVOS BAIRROS -->
                    <div class="form-group mb-4 "    
                        *ngFor="let neighborhood of otherNeighborhoods.controls; let i = index"
                        formArrayName="otherNeighborhoods"
                        >
                        <input type="text" name="neighborhood" placeholder="Bairro..." [formControlName]="i">
                    </div>
                </div>

            </div>

            <!-- BOTÃO PARA ADICIONAR NOVOS BAIRROS -->
            <p class="outros-bairros font-weight-bold" (click)="addOtherNeighborhoods()">
                Adicionar outros bairros
            </p>

        </div>

        <!-- BOTÕES DE CONTROLE PARA SALVAR OU CANCELAR O ENVIO DO FORMULÁRIO -->
        <div *ngIf="!readOnly" class="d-flex justify-content-between justify-content-md-start">
            <button type="submit" id="submit" class="mr-md-4">Salvar</button>
            <button type="button" id="cancelar" (click)="readMode()">Cancelar</button>
        </div>

    </form>

</section>

<!-- SPINNER DE CARREGAMENTO -->
<ngx-spinner bdColor="#333333" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>