<section>
    <h2 class="text-center text-md-left">PROFISSIONAIS</h2>

    <div class="bg-white">

        <h3 class="py-3 px-4 mb-3">Perfil</h3>

        <div class="px-4 pt-5">
            <div class="d-flex flex-column flex-md-row">
                <a class="p-3" routerLink="dados" routerLinkActive="active">Dados</a>
                <a class="p-3" routerLink="especialidades" routerLinkActive="active">Especialidades</a>
                <a class="p-3" routerLink="locais-de-atendimento" routerLinkActive="active">Locais de atendimento</a>
                <a class="p-3" routerLink="servicos" routerLinkActive="active">Serviços</a>
                <a class="p-3" routerLink="anexos" routerLinkActive="active">Anexos</a>
            </div>
        </div>

        <div class="pl-md-4">
            <router-outlet class="pl-4"></router-outlet>
        </div>

    </div>
</section>

<ngx-spinner bdColor="#333333" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>