h3 {
  font-size: 17px;
  font-weight: bold;
  color: #37153d;
}

button{
    width: 154px;
    height: 35px;
    border-radius: 30px;
    color: #FFF;
    border: none;
    font-size: 14px;
    font-weight: bold;
    outline: none;
  }

.anexo {
  width: 154px;
  height: 35px;
  background: #707070 0% 0% no-repeat padding-box;
  border-radius: 30px;
  color: #fff;
  border: none;
  outline: none;
}

a {
  color: black;
}

.anexos:hover,
label:hover {
  cursor: pointer !important;
  background-color: #EEE;
}

#banir {
  background: #d22020 0% 0% no-repeat padding-box;
}

#submit {
  background: #37153d 0% 0% no-repeat padding-box;
}

#cancelar {
  background: #707070 0% 0% no-repeat padding-box;
}
