<section class="py-4">

    <form #f="ngForm" (ngSubmit)="deletarAnexo(f)">
      
      <div class="d-flex" *ngIf="readOnly">
          <button type="button" class="mr-4 anexo"  data-toggle="modal" data-target="#addAnexosModal">Adicionar anexo</button>
          <button type="button" class="anexo" (click)="editMode()">Remover anexo</button>
      </div>
  
      <div>
          <h3 class="mt-4 mb-5">Lista de anexos:</h3>
          <div *ngFor="let attachment of professionals.user.attachments">
            <input [hidden]="readOnly" type="checkbox" [name]="attachment.id" ngModel/>
            <div class="anexos w-100 py-2" (click)="openAttachment(attachment.path)">
              <label for="{{attachment.name}}" class="mb-0">{{attachment.name}}</label>
            </div>
          </div>
      </div>
        
        <!-- BOTÕES DE EDITAR OU BANIR O ALUNO -->
      <div *ngIf="readOnly === true" class="d-flex justify-content-between justify-content-md-start pt-4">
        <button type="button" id="banir" (click)="deleteProfessional()">Banir</button>
      </div>
  
      <!-- BOTÕES PARA EDITAR OU CANCELAR O FORMULÁRIO DO ALUNO -->
      <div *ngIf="readOnly === false" class="d-flex justify-content-between justify-content-md-start pt-4">
        <button type="submit" id="submit" class="mr-md-4">Salvar</button>
        <button type="button" id="cancelar" (click)="readMode()">Cancelar</button>
      </div>
  
    </form>
  
  
  </section>
  
  
  <!-- Modal -->
  <div class="modal fade" id="addAnexosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Anexar aquivos</h5>
          <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          <form [formGroup] = "uploadForm" (ngSubmit)="enviarAnexo()">
              <input type="file" class="form-control-file" name="attachments" required multiple (change)="onFileSelect($event)">
              <div class="row mt-4">
                <button type="submit" class="btn anexo form-control mx-auto ">Enviar</button>
              </div>
          </form>
        </div>
  
      </div>
    </div>
  </div>
  
  