<section>

    <!-- IMAGEM DE PERFIL DO ALUNO -->
    <div class="py-3">
        <img src="{{students.user.img_profile}}">
    </div>

    <!-- FORMULÁRIO DE EDIÇÃO E LEITURA DE INFORMAÇÕES DO ALUNO -->
    <form ngForm (ngSubmit)="onSubmit()">
        
        <!-- TÍTULO DO FORMULÁRIO -->
        <h4 class="mb-4">Dados pessoais:</h4>

        <!-- PRIMEIRA LINHA DO FORMULÁRIO -->
        <div class="d-md-flex mb-3">
            
            <!-- NOME DO ALUNO -->
            <div class="form-group">
                <label for="nome" class="d-block">Nome:</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="students.user.name">
            </div>

            <!-- GÊNERO DO ALUNO -->
            <div class="form-group mx-md-4">
                <label for="genero" class="d-block">Gênero:</label>
                <input type="text" class="form-control" name="genre" [(ngModel)]="students.user.genre">
            </div>

            <!-- DATA DE NASCIMENTO DO ALUNO -->
            <div class="form-group">
                <label for="data_de_nascimento" class="d-block">Data de nascimento:</label>
                <input type="date" class="form-control" name="birthday" [(ngModel)]="students.user.birthday">
            </div>
        </div>

        <!-- SEGUNDA LINHA DO FORMULÁRIO -->
        <div class="d-md-flex mb-3">

            <!-- CPF DO ALUNO -->
            <div class="form-group">
                <label for="cpf" class="d-block">CPF:</label>
                <input type="text" class="form-control" name="cpf" mask="000.000.000-00" [(ngModel)]="students.user.cpf">
            </div>

            <!-- E-MAIL DO ALUNO -->
            <div class="form-group mx-md-4">
                <label for="email" class="d-block">E-mail:</label>
                <input type="text" class="form-control" name="email" [(ngModel)]="students.user.email">
            </div>

            <!-- CEP DO ALUNO -->
            <div class="form-group">
                <label for="cep" class="d-block">Cep:</label>
                <input type="text" class="form-control" name="address_zipcode" mask="00000-000" [(ngModel)]="students.user.address_zipcode">
            </div>

        </div>

        <!-- TERCEIRA LINHA DO FORMULÁRIO -->
        <div class="d-md-flex mb-3">

            <!-- ENDEREÇO DO ALUNO -->
            <div class="form-group mr-4">
                <label for="endereco" class="d-block">Endereço:</label>
                <input type="text" class="form-control" name="address_street" [(ngModel)]="students.user.address_street">
            </div>

            <!-- NÚMERO DA RESIDÊNCIA DO ALUNO -->
            <div class="form-group">
                <label for="numero" class="d-block">Número:</label>
                <input type="text" class="form-control" name="address_number" [(ngModel)]="students.user.address_number">
            </div>

        </div>

        <!-- QUARTA LINHA DO FORMULÁRIO -->
        <div class="d-md-flex mb-3">

            <!-- COMPLEMENTO DO ENDEREÇO DO ALUNO -->
            <div class="form-group mr-4">
                <label for="complemento" class="d-block">Complemento:</label>
                <input type="text" class="form-control" name="address_complement" [(ngModel)]="students.user.address_complement">
            </div>

            <!-- TELEFONE DO ALUNO -->
            <div class="form-group">
                <label for="telefone" class="d-block">Telefone:</label>
                <input type="text" class="form-control" name="contact" ngxPhoneMaskBr [(ngModel)]="students.user.contact">
            </div>

        </div>

        <!-- TELEFONE DE EMERGÊNCIA DO ALUNO -->
        <div class="d-md-flex mb-3">
            <div class="form-group">
                <label for="telefone_de_emergencia" class="d-block">Telefone de emergência:</label>
                <input type="text" class="form-control" name="emergency_phone" ngxPhoneMaskBr [(ngModel)]="students.user.emergency_phone">
            </div>
        </div>

        <!-- BOTÕES DE EDITAR OU BANIR O ALUNO -->
        <div *ngIf="readOnly === true" class="d-flex justify-content-between justify-content-md-start pt-4">
            <button type="button" id="editar" class="mr-md-4" (click)="editMode()">Editar</button>
            <button type="button" id="banir" (click)="deleteAluno()">Banir</button>
        </div>

        <!-- BOTÕES PARA EDITAR OU CANCELAR O FORMULÁRIO DO ALUNO -->
        <div *ngIf="readOnly === false" class="d-flex justify-content-between justify-content-md-start pt-4">
            <button type="submit" id="submit" class="mr-md-4" (click)="onSubmit()">Salvar</button>
            <button type="button" id="cancelar" (click)="readMode()">Cancelar</button>
        </div>
    </form>

</section>

<!-- LOADING SPINNER -->
<ngx-spinner bdColor="#333333" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>