section{
    width: 100%;
    max-width: 1440px;
}

h2{
    font-size: 26px;
    font-weight: bold;
    color: #37153D;
}

h3{
    font-size: 16px;
    font-weight: 600;
    color: #37153D;
}

#contentBox{
    border: 1px solid #ddd;
    border-radius: 7px;
}

tr:nth-child(1){
    background: #FF993E 0% 0% no-repeat padding-box;
    border-radius: 3px 3px 0px 0px;
    font-size: 13px;
    font-weight: bold;
    color: #37153D;
}

table tr:nth-child(1n+2){
    font-size: 14px;
    color: #2E2E2E;
    border-bottom: 1px solid #DCDCDC;
    outline: none;
}

table tr:nth-child(1n+2):hover{
    background: #F8F8F8 0% 0% no-repeat padding-box;
    cursor: pointer
}

input{
    border: 1px solid #707070;
    border-radius: 4px;
    width: 245px;
    height: 27px;
    font-size: 11px;
    color: #707070;
    outline: none;
    background-image: url('../../../../assets/images/admin/search.svg');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 3% 45%;
}

td {
    min-width: 150px;
}

td:last-child img{
    width: 10px;
    transform: rotate(-90deg);
    right: 15px;
    top: 15px;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #37153d;
  }
