/* ----------------------------------- */
/*            MENU LATERAL            */
/* --------------------------------- */

aside {
    width: 0;
}

#menu-toggle {
    top: 31px;
    right: 1rem;
    z-index: 2;
}

.menu-bar {
    width: 40px;
    height: 4px;
    border-radius: 5px;
    background: #2F1234;
}

nav {
    background: #2F1234;
    width: 100%;
    height: 100vh;
    font-size: 13px;
    color: #fff;
    top: -100vh;
    transition: .35s;
    z-index: 1;
}

nav ul {
    width: 115px;
}

.navbar-brand img {
    width: 5.75vw;
    min-width: 75px;
    height: auto;
    outline: none;
    cursor: pointer;
}

.nav-item {
    width: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    outline: none;
}

.nav-item:nth-child(1) img {
    width: 45px;
    height: 27.5px;
}

.nav-item:nth-child(2) img {
    width: 30px;
    height: 40px;
}

.nav-item:nth-child(3) img {
    width: 30px;
    height: 40px;
}

.nav-item:nth-child(4) img {
    width: 25px;
    height: 31px;
}

.active {
    color: #FF993E;
    fill: #FF993E !important;
}

/* ----------------------------------- */
/*         DASHBOARD HEADER           */
/* --------------------------------- */

header {
    background: #FFF;
    box-shadow: 0px 0px 2px #00000029;
    width: 100%;
    height: 6vw;
    min-height: 85px;
}


#dropdownLogout {
    font-size: 12px;
    cursor: pointer;
}

#dropdownLogout img {
    max-width: 2.75vw;
    min-width: 30px;
}

#dropdownLogout::after {
    content: "";
    background-image: url('../../../assets/images/admin/arrow.png');
    background-size: 35%;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    display: inline-block;
}

.dropdown-menu {
    width: 15vw;
    min-width: 140px;
    max-width: 160px;
    border: 1px solid #70707029;
    left: 5px !important;
}

.dropdown-item:hover {
    background-color: transparent;
    cursor: pointer;
}

section {
    width: 100vw;
}

@media(min-width: 768px) {
    aside {
        width: 8.85vw;
        min-width: 125px;
    }

    nav {
        width: 8.85vw;
        min-width: 125px;
        top: 0;
    }

    section{
        width: calc(100vw - 8.85vw);
        max-width: calc(100vw - 140px);
    }

}