<!-- ASIDE NECESSÁRIO PARA MANTER A LARGURA DO NAV COM POSITION FIXED -->
<aside>

    <!-- BOTÃO PARA ABRIR/FECHAR MENU MOBILE -->
    <div id="menu-toggle" class="position-absolute d-md-none" (click)="menuToggle()">
        <div class="menu-bar"></div>
        <div class="menu-bar my-1"></div>
        <div class="menu-bar"></div>
    </div>

    <!-- MENU LATERAL E MOBILE -->
    <nav class="nav navbar-nav flex-nowrap align-items-center position-fixed">

        <!-- LOGOTIPO PERSONAL PASS DO MENU -->
        <div class="navbar-brand m-0 pb-4">
            <img src="assets/images/admin//logo.svg" alt="Personal pass logo" class="py-2" routerLink="/admin/dashboard/servicos">
        </div>

        <ul class="list-unstyled text-center align-items-center pt-2">

            <div class="nav-item mb-3" 
                 routerLink="servicos"
                 routerLinkActive="active" 
                 #servicos="routerLinkActive"
                 (click)="menuToggle()"
            >
                <img *ngIf="!servicos.isActive" src="assets/images/admin/halter.svg">
                <img *ngIf="servicos.isActive" src="assets/images/admin/halter-active.svg">
                <li class="nav-link">Serviços agendados</li>
            </div>

            <div class="nav-item mb-3"
                 routerLink="profissionais"
                 routerLinkActive="active"
                 #profissionais="routerLinkActive"
                 (click)="menuToggle()"
            >
                <img *ngIf="!profissionais.isActive" src="assets/images/admin/coach.svg">
                <img *ngIf="profissionais.isActive" src="assets/images/admin/coach-active.svg">
                <li class="nav-link">Profissionais</li>
            </div>

            <div class="nav-item mb-3"
                 routerLink="alunos" 
                 routerLinkActive="active"
                 #alunos="routerLinkActive"
                 (click)="menuToggle()"
            >
                <img *ngIf="!alunos.isActive" src="assets/images/admin/patient.svg">
                <img *ngIf="alunos.isActive" src="assets/images/admin/patient-active.svg">
                <li class="nav-link">Alunos</li>
            </div>

            <div class="nav-item mb-3"
                 routerLink="relatorios"
                 routerLinkActive="active"
                 #relatorios="routerLinkActive"
                 (click)="menuToggle()"
            >
                <img *ngIf="!relatorios.isActive" src="assets/images/admin/file.svg">
                <img *ngIf="relatorios.isActive" src="assets/images/admin/file-active.svg">
                <li class="nav-link">Relatórios</li>
            </div>

        </ul>

    </nav>

</aside>

<section class="vh-100">
    
    <header class="d-flex justify-content-start justify-content-md-end align-items-center">

        <div class="d-flex align-items-center mx-3" id="dropdownLogout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <p class="m-0 mr-2">Administrador</p>
            <img src="assets/images/admin/user.png">
        </div>

        <div class="dropdown-menu mt-4" aria-labelledby="dropdownLogout">
            <a class="dropdown-item" (click)="logout()">Sair</a>
        </div>
        
    </header>

    <main class="pl-0 px-md-5 py-5">
        <router-outlet></router-outlet>
    </main>

</section>
