<section class="row m-0">

    <!-- LEFTSIDE LOGIN WITH FORMS -->
    <div class=" col-12 col-md-6 p-0 d-flex flex-column justify-content-center align-items-center">

        <!-- PERSONAL-PASS LOGO -->
        <div class="pb-4">
            <img src="../../../assets/images/admin/logo.png" alt="Personal Pass logo" id="logo">
        </div>

        <!-- WELCOME MESSAGE -->
        <div class="pb-3">
            <h2>Bem-vindo! Faça login na sua conta.</h2>
        </div>

        <!-- LOGIN FORM -->
        <form class="form" ngForm (ngSubmit)="onSubmit()">

            <!-- LOGIN EMAIL INPUT -->
            <div class="form-group">
                <input type="email" placeholder="E-mail" class="form-control" name="email" [(ngModel)]="user.email">
                <p *ngIf="error.email === true" class="error-notifier mt-2">Email é obrigatório!</p>
            </div>

            <!-- LOGIN PASSWORD INPUT -->
            <div class="form-group">
                <input type="password" placeholder="Senha" class="form-control" name="password" [(ngModel)]="user.password">
                <p *ngIf="error.password === true" class="error-notifier mt-2">Senha é obrigatório!</p>
            </div>

            <!-- LOGIN REMEMBER CHECKBOX AND FORGOT PASSWORD -->
            <div class="d-flex justify-content-between align-items-center pb-4">

                <!-- REMEMBER CHECKBOX -->
                <div class="d-flex align-items-center">
                    <input type="checkbox" name="remember" [(ngModel)]="user.remember">
                    <label for="remember" class="m-0">Lembrar de mim</label>
                </div>

                <!-- FORGOT PASSWORD -->
                <div class="d-flex align-items-center">
                    <p class="m-0">Esqueci minha senha</p>
                </div>
            </div>

            <!-- FORM SUBMIT -->
            <div class="d-flex justify-content-center">
                <button type="submit" class="m-auto px-5">Entrar</button>
            </div>

        </form>

    </div>

    <!-- RIGHTSIDE LOGIN -->
    <div class="d-none d-md-flex justify-content-end align-items-center col-6 p-0 ">
        <img src="../../../assets/images/admin/gym.png" alt="Treino em academia" id="gym">
    </div>

</section>

<!-- LOADING SPINNER, DON'T REMOVE ! -->
<ngx-spinner bdColor="#333333" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>