section {
    min-height: 100vh;
    background: #F8F8F8 0% 0% no-repeat padding-box;
}

#logo {
    min-width: 150px;
    width: 15.625vw;
    height: auto;
}

h2 {
    font-size: 19px;
    color: #F76E1E;
}

.form-control {
    width: 27.45vw;
    min-width: 275px;
    max-width: 527px;
    font-size: 18px;
    color: #636363;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #ced4da;
}

label,
p {
    font-size: 12px;
    color: #636363;
}

.error-notifier {
    color: red;
    font-size: 14px;
    text-align: center;
}

button {
    font-size: 18px;
    color: #fff;
    background: #37153D 0% 0% no-repeat padding-box;
    border-radius: 30px;
    outline: none;
    border: none;
}

#gym {
    max-width: 100%;
    height: auto;
}

@media (min-width: 568px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    h2 {
        font-size: 16px;
    }
    .form-control {
        font-size: 14px;
    }
    label,
    p {
        font-size: 12px;
    }
    button {
        font-size: 17px;
    }
    #gym {
        max-width: 43.020833333vw;
        height: 100vh;
    }
    @media (min-width: 1600px) {
        h2 {
            font-size: 24px;
        }
        .form-control {
            font-size: 18px;
        }
        button {
            font-size: 20px;
        }
    }
}