<section>
    <h2 class="text-center text-md-left">RELATÓRIOS</h2>

    <div class="d-flex flex-column flex-md-row mb-4">

        <div class="d-flex flex-row align-items-center box pl-5 mr-5 mb-4 mb-md-0">
            <div class="d-flex justify-content-center mr-3 img-div">
                <img src="../../../../assets/images/admin/coach-active.svg">
            </div>
            <div>
                <h3 class="mb-0">Profissionais</h3>
                <p class="mb-0">Visualizar agora</p>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center box pl-5">
            <div class="d-flex justify-content-center mr-3 img-div">
                <img src="../../../../assets/images/admin/patient-active.svg">
            </div>
            <div>
                <h3 class="mb-0">Alunos</h3>
                <p class="mb-0">Visualizar agora</p>
            </div>
        </div>

    </div>

    <div class="d-flex flex-column flex-md-row mb-4">

        <div class="d-flex flex-row align-items-center box pl-5 mr-5 mb-4 mb-md-0">
            <div class="d-flex justify-content-center mr-3 img-div">
                <img src="../../../../assets/images/admin/money.svg">
            </div>
            <div>
                <h3 class="mb-0">Financeiro</h3>
                <p class="mb-0">Visualizar agora</p>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center box pl-5">
            <div class="d-flex justify-content-center mr-3 img-div">
                <img src="../../../../assets/images/admin/dollar-symbol.svg">
            </div>
            <div>
                <h3 class="mb-0">Preço médio</h3>
                <p class="mb-0">Visualizar agora</p>
            </div>
        </div>
        
    </div>

    <div class="d-flex flex-column flex-md-row">
        <div class="d-flex flex-row align-items-center box pl-5">
            <div class="d-flex justify-content-center mr-3 img-div">
                <img src="../../../../assets/images/admin/bar-chart.svg">
            </div>
            <div>
                <h3 class="mb-0">Estatísticas</h3>
                <p class="mb-0">Visualizar agora</p>
            </div>
        </div>
    </div>


</section>