.box{
    width: 100vw;
    height: 102px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.10000000149011612px solid #707070;
    border-radius: 7px;
}

.img-div{
    width: 60px;
}

img:nth-child(1){
    width: 43px;
    height: auto;
}

img:nth-child(2){
    width: 42px;
    height: auto;
}

h2{
    font-size: 28px;
    font-weight: bold;
    color: #37153D;

}

h3{
    font-size: 22px;
    font-weight: bold;
    color: #37153D;
}

p{
    font-size: 14px;
    color: #707070;
}

@media (min-width: 768px) {
    .box{
        width: 457px;
    }
}