/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/ngx-toastr/toastr.css';
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";

@font-face {
    font-family: sofia-pro;
    src: url('assets/fonts/sofiapro-light.otf');
}

body {
    font-family: sofia-pro;
    background: #F8F8F8 0% 0% no-repeat padding-box;
}

.toast-container .ngx-toastr {
    box-shadow: none;
}

.toast-container .ngx-toastr:hover {
    box-shadow: none;
}

app-root{
    width: 100vw;
}

app-dashboard {
    display: flex;
}


app-listagem-de-servicos {
    width: 200px;
    overflow: hidden;
}
/* 
app-informacoes-do-servico {
    width: 100%;
} */