<section class="py-5">

    <h5 class="mb-5">Questionário de Prontidão para Atividade Física (PAR-Q)</h5>

    <form ngForm (ngSubmit)="onSubmit()">

        <div class="d-flex flex-column">

            <!-- PRIMEIRA LINHA DO FORMULÁRIO -->
            <div class="d-flex mb-5">

                <!-- PESO DO ALUNO -->
                <div class="form-group mr-4">
                    <label for="peso" class="d-block">Peso:</label>
                    <input type="text" class="form-control" name="peso" [(ngModel)]="faq_answered[0].answered">
                </div>

                <!-- ALTURA DO ALUNO -->
                <div class="form-group">
                    <label for="altura" class="d-block">Altura:</label>
                    <input type="text" class="form-control" name="altura" [(ngModel)]="faq_answered[1].answered">
                </div>

            </div>

            <!-- SEGUNDA LINHA DO FORMULÁRIO -->
            <div class="mb-5">

                <!-- OBJETIVO DO ALUNO -->
                <div class="form-group">
                    <label for="objetivo" class="d-block">Qual seu objetivo?</label>
                    <input type="text" class="form-control" name="objetivo" [(ngModel)]="faq_answered[2].answered">
                </div>

            </div>

            <!-- GRUPO DE TERCEIRA E QUARTA LINHA DO FORMULÁRIO -->
            <div class="mb-5">

                <!-- TERCEIRA LINHA DO FORMULÁRIO -->
                <div class="form-group mb-4">

                    <!-- TÍTULO DA PERGUNTA -->
                    <p>Na prática de atividades físicas, você sente algum desses sintomas?</p>
                    
                    <!-- OPÇÕES DE RESPOSTAS -->
                    <div class='d-flex'>

                        <div class="mr-4 d-flex align-items-center">
                            <input type="checkbox" name="tontura" [(ngModel)]="faq_answered[3].tontura">
                            <label class="mb-0 mt-1" for="tontura">Tontura</label>
                        </div>

                        <div class="mr-4 d-flex align-items-center">
                            <input type="checkbox" name="enjoo" [(ngModel)]="faq_answered[3].enjoo">
                            <label class="mb-0 mt-1" for="enjoo">Enjoo</label>
                        </div>

                        <div class="mr-4 d-flex align-items-center">
                            <input type="checkbox" name="falta_de_ar" [(ngModel)]="faq_answered[3].falta_de_ar">
                            <label class="mb-0 mt-1" for="falta_de_ar">Falta de ar</label>
                        </div>

                        <div class="d-flex align-items-center">
                            <input type="checkbox" name="nenhum" [(ngModel)]="faq_answered[3].nenhum">
                            <label class="mb-0 mt-1" for="nenhum">Nenhum</label>
                        </div>

                    </div>
                </div>

                <!-- QUARTA LINHA DO FORMULÁRIO -->
                <div class="form-group" *ngIf="!faq_answered[3].nenhum && 
                faq_answered[3].tontura ||
                faq_answered[3].enjoo ||
                faq_answered[3].falta_de_ar">
                    <label for="outros_sintomas">Algum outro desconforto?</label>
                    <input type="text" class="form-control" name="outro_desconforto" [(ngModel)]="faq_answered[4].answered">
                </div>

            </div>

            <!-- GRUPO DE QUINTA E SEXTA LINHA DO FORMULÁRIO -->
            <div class="mb-5">

                <!-- QUINTA LINHA DO FORMULÁRIO -->
                <div class="form-group mb-4">

                    <!-- TÍTULO DA PERGUNTA -->
                    <p>Diabético?</p>
                    
                    <!-- OPÇÕES DE RESPOSTA -->
                    <div class="d-flex">

                        <!-- OPÇÃO 01 -->
                        <div class="mr-4 d-flex align-items-center">
                            <input type="radio" name="diabetico" value="1" [(ngModel)]="faq_answered[5].answered">
                            <label class="mb-0 mt-1" for="diabetico">Sim</label>
                        </div>

                        <!-- OPÇÃO 02 -->
                        <div class="d-flex align-items-center">
                            <input type="radio" name="diabetico" value="2" [(ngModel)]="faq_answered[5].answered">
                            <label class="mb-0 mt-1" for="diabetico">Não</label>
                        </div>

                    </div>

                </div>

                <!-- SEXTA LINHA DO FORMULÁRIO CASO A REPOSTA ACIMA SEJA 'SIM' -->
                <div class="form-group" *ngIf="faq_answered[5].answered == '1'">
                    <label for="diabetico_estagio" class="d-block">Qual estágio?</label>
                    <input type="text" class="form-control" name="diabetico_estagio" [(ngModel)]="faq_answered[6].answered">
                </div>

            </div>

            <!-- GRUPO DE SÉTIMA E OITAVA LINHA DO FORMULÁRIO -->
            <div class="mb-5">

                <!-- SÉTIMA LINHA DO FORMULÁRIO -->
                <div class="form-group mb-4">

                    <!-- TITULO DA PERGUNTA -->
                    <p>Hipertenso?</p>

                    <!-- OPÇÕES DE RESPOSTA -->
                    <div class="d-flex">

                        <!-- OPÇÃO 01 -->
                        <div class="mr-4 d-flex align-items-center">
                            <input type="radio" name="hipertenso" value="1" [(ngModel)]="faq_answered[7].answered">
                            <label class="mb-0 mt-1" for="hipertenso">Sim</label>
                        </div>

                        <!-- OPÇÃO 02 -->
                        <div class="d-flex align-items-center">
                            <input type="radio" name="hipertenso" value="2" [(ngModel)]="faq_answered[7].answered">
                            <label class="mb-0 mt-1" for="hipertenso">Não</label>
                        </div>

                    </div>

                </div>

                <!-- OITAVA LINHA DO FORMULÁRIO -->
                <div class="form-group" *ngIf="faq_answered[7].answered == '1'">
                    <label for="hipertenso_estagio" class="d-block">Qual estágio?</label>
                    <input type="text" class="form-control" name="hipertensao_estagio" [(ngModel)]="faq_answered[8].answered">
                </div>

            </div>

            <!-- GRUPO DE SÉTIMA E OITAVA LINHA DO FORMULÁRIO -->
            <div class="mb-5">

                <!-- SÉTIMA LINHA DO FORMULÁRIO -->
                <div class="form-group mb-4">

                    <!-- TITULO DA PERGUNTA -->
                    <p>Possui algum problema cardíaco?</p>

                    <!-- OPÇÕES DE RESPOSTA -->
                    <div class="d-flex">

                        <!-- OPÇÃO 01 -->
                        <div class="mr-4 d-flex align-items-center">
                            <input type="radio" name="problema_cardiaco" value="1" [(ngModel)]="faq_answered[9].answered">
                            <label class="mb-0 mt-1" for="problema_cardiaco">Sim</label>
                        </div>

                        <!-- OPÇÃO 02 -->
                        <div class="d-flex align-items-center">
                            <input type="radio" name="problema_cardiaco" value="2" [(ngModel)]="faq_answered[9].answered">
                            <label class="mb-0 mt-1" for="problema_cardiaco">Não</label>
                        </div>

                    </div>

                </div>

                <!-- OITAVA LINHA DO FORMULÁRIO -->
                <div class="form-group" *ngIf="faq_answered[9].answered == '1'">
                    <label for="outro_problema_cardiaco" class="d-block">Qual estágio?</label>
                    <input type="text" class="form-control" name="problema_cardiaco_estagio" [(ngModel)]="faq_answered[10].answered">
                </div>

            </div>

            <!-- GRUPO DE DÉCIMA E DÉCIMA PRIMEIRA LINHA DO FORMULÁRIO -->
            <div class="mb-5">

                <!-- DÉCIMA LINHA DO FORMULÁRIO -->
                <div class="form-group mb-4">

                    <!-- TÍTULO DA PERGUNTA -->
                    <p>Problema respiratório?</p>

                    <!-- OPÇÕES DE RESPOSTA -->
                    <div class="d-flex">

                        <!-- OPÇÃO 01 -->
                        <div class="mr-4 d-flex align-items-center">
                            <input type="radio" name="problema_respiratorio" value="1" [(ngModel)]="faq_answered[11].answered">
                            <label class="mb-0 mt-1" for="problema_respiratorio">Sim</label>
                        </div>

                        <!-- OPÇÃO 02 -->
                        <div class="d-flex align-items-center">
                            <input type="radio" name="problema_respiratorio" value="2" [(ngModel)]="faq_answered[11].answered">
                            <label class="mb-0 mt-1" for="problema_respiratorio">Não</label>
                        </div>

                    </div>

                </div>

                <!-- DÉCIMA PRIMEIRA LINHA DO FORMULÁRIO -->
                <div class="form-group" *ngIf="faq_answered[11].answered == '1'">
                    <label for="outro_problema_respiratorio" class="d-block">Qual?</label>
                    <input type="text" class="form-control" name="outro_problema_respiratorio" [(ngModel)]="faq_answered[12].answered">
                </div>

            </div>













            <div class="mb-5">

                <!-- DÉCIMA SEGUNDA LINHA DO FORMULÁRIO -->
                <div class="form-group mb-4">
                    <p>Utiliza algum tipo de medicamento ou drogas?</p>
                    <div class="d-flex">
                        <div class="mr-4 d-flex align-items-center">
                            <input type="radio" name="medicamento" value="1" [(ngModel)]="faq_answered[13].answered">
                            <label class="mb-0 mt-1" for="medicamentos">Sim</label>
                        </div>
                        <div class="d-flex align-items-center">
                            <input type="radio" name="medicamento" value="2" [(ngModel)]="faq_answered[13].answered">
                            <label class="mb-0 mt-1" for="medicamentos">Não</label>
                        </div>
                    </div>
                </div>

                <!-- DÉCIMA TERCEIRA LINHA DO FORMULÁRIO -->
                <div class="form-group" *ngIf="faq_answered[13].answered == '1'">
                    <label for="outros_medicamentos" class="d-block">Qual?</label>
                    <input type="text" class="form-control" name="outros_medicamentos" [(ngModel)]="faq_answered[14].answered">
                </div>
            </div>

            <div class="mb-5">

                <!-- DÉCIMA QUARTA LINHA DO FORMULÁRIO -->
                <div class="form-group mb-4">
                    <p>Fez alguma cirurgia nos últimos 6 meses?</p>
                    <div class="d-flex">
                        <div class="mr-4 d-flex align-items-center">
                            <input type="radio"  name="cirurgia" value="1" [(ngModel)]="faq_answered[15].answered">
                            <label class="mb-0 mt-1" for="cirurgia">Sim</label>
                        </div>
                        <div class="d-flex align-items-center">
                            <input type="radio" name="cirurgia" value="2" [(ngModel)]="faq_answered[15].answered">
                            <label class="mb-0 mt-1" for="cirurgia">Não</label>
                        </div>
                    </div>
                </div>

                <!-- DÉCIMA QUINTA LINHA DO FORMULÁRIO -->
                <div class="form-group" *ngIf="faq_answered[15].answered == '1'">
                    <label for="outra_cirurgia" class="d-block">Qual?</label>
                    <input type="text" class="form-control" name="outra_cirurgia" [(ngModel)]="faq_answered[16].answered">
                </div>
            </div>

            <div class="mb-5">

                <!-- DÉCIMA SEXTA LINHA DO FORMULÁRIO -->
                <div class="form-group mb-4">
                    <p>Sente incômodo ou dores em articulações e/ou coluna na prática de atividade física?</p>
                    <div class="d-flex">
                        <div class="mr-4 d-flex align-items-center">
                            <input type="radio" name="incomodo" value="1" [(ngModel)]="faq_answered[17].answered">
                            <label class="mb-0 mt-1" for="incomodo">Sim</label>
                        </div>
                        <div class="d-flex align-items-center">
                            <input type="radio" name="incomodo" value="2" [(ngModel)]="faq_answered[17].answered">
                            <label class="mb-0 mt-1" for="incomodo">Não</label>
                        </div>
                    </div>
                </div>

                <!-- DÉCIMA SÉTIMA LINHA DO FORMULÁRIO -->
                <div class="form-group" *ngIf="faq_answered[17].answered == '1'">
                    <label for="outro_incomodo" class="d-block">Comente:</label>
                    <input type="text" class="form-control" name="coment_incomodo" [(ngModel)]="faq_answered[18].answered">
                </div>
            </div>

            <div class="mb-5">

                <!-- DÉCIMA OITAVA LINHA DO FORMULÁRIO -->
                <div class="form-group mb-4">
                    <p>Tem alguma restrição ou recomendação médica para a prática de exercícios físicos?</p>
                    <div class="d-flex">
                        <div class="mr-4 d-flex align-items-center">
                            <input type="radio" name="restricao" value="1" [(ngModel)]="faq_answered[19].answered">
                            <label class="mb-0 mt-1" for="restricao">Sim</label>
                        </div>
                        <div class="d-flex align-items-center">
                            <input type="radio" name="restricao" value="2" [(ngModel)]="faq_answered[19].answered">
                            <label class="mb-0 mt-1" for="restricao">Não</label>
                        </div>
                    </div>
                </div>

                <!-- DÉCIMA NONA LINHA DO FORMULÁRIO -->
                <div class="form-group" *ngIf="faq_answered[19].answered == '1'">
                    <label for="outra_restricao" class="d-block">Qual?</label>
                    <input type="text" class="form-control" name="outra_restricao" [(ngModel)]="faq_answered[20].answered">
                </div>
            </div>
            
        </div>

        <!-- BOTÕES DE EDITAR OU BANIR O ALUNO -->
        <div *ngIf="readOnly === true" class="d-flex justify-content-between justify-content-md-start pt-4">
            <button type="button" id="editar" class="mr-md-4" (click)="editMode()">Editar</button>
            <button type="button" id="banir" (click)="deleteAluno()">Banir</button>
        </div>

        <!-- BOTÕES PARA EDITAR OU CANCELAR O FORMULÁRIO DO ALUNO -->
        <div *ngIf="readOnly === false" class="d-flex justify-content-between justify-content-md-start pt-4">
            <button type="submit" id="submit" class="mr-md-4">Salvar</button>
            <button type="button" id="cancelar" (click)="readMode()">Cancelar</button>
        </div>

    </form>
</section>

<ngx-spinner bdColor="#333333" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>