.form-control{
    max-width: 475px;
    height: 25px;
    border: none;
    border-bottom: 1px solid #37153D;
    outline: none;
    background: #FFF;
}

.form-control:focus{
    outline: none;
    box-shadow: none;
}

.form-group,
p{
    margin-bottom: 0.5rem;
}

label{
    margin-bottom: 0;
}

input[type="radio"],
input[type="checkbox"]{
    width: 16px !important;
    height: 16px !important;
    margin-right: 2px;
}

button{
    width: 154px;
    height: 35px;
    border-radius: 30px;
    color: #FFF;
    border: none;
    font-size: 14px;
    font-weight: bold;
    outline: none;
}

#editar{
    background: #37153D 0% 0% no-repeat padding-box;
}

#banir{
    background: #D22020 0% 0% no-repeat padding-box;
}

#submit{
    background: #37153D 0% 0% no-repeat padding-box;
}

#cancelar{
    background: #707070 0% 0% no-repeat padding-box;
}